body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-us36{border-color:inherit;vertical-align:top}

.blocked {
	background-color: #808080;
}

.unblocked {
 background-color: #38cd38;
}

#blockedDevices a {
	padding:5px;
	border-radius: 10px;

}
#screen_ok {
display: none;
}
a.unblocked {
	color: white;
}

a.blocked {
	color: #c9c9c9;
}

a.sensor_selected {
	padding:5px;
	border-radius: 10px;
	background-color:white;
}
